<launch>

  <!-- 启动rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d /home/iflytek/workspace/src/ucar_nav/launch/config/rviz/001.rviz"   /> -->

  <!-- 启动底盘 -->
  <node pkg="ucar_controller" name="base_driver" type="base_driver" output="screen" >
    <rosparam command="load" file="$(find ucar_controller)/config/driver_params_ucarV2.yaml" />
  </node>

  <!-- 启动雷达 -->
  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="false" >
    <param name="port"         type="string" value="/dev/ttyS4"/>  
    <param name="frame_id"     type="string" value="laser_frame"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.08" />
    <param name="range_max"    type="double" value="4.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="samp_rate"    type="int"    value="9"/>
    <param name="frequency"    type="double" value="12"/>
    <remap from="scan" to="scan" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
  args="0.11 0.0 0.13 -0.07 0.0  0.0 /base_link /laser_frame 40" />

  <!-- 启动雷达畸变矫正 -->
  <!-- <include file="$(find lidar_undistortion_2d)/launch/lidar_undistortion_2d.launch" > </include> -->

  <!-- 启动地图服务器 -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/gazebo_ros_map.yaml" output="screen">
    <param name="frame_id" value="map" />
  </node> 

  <!-- 启动AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
  <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="omni"/>
    <param name="transform_tolerance" value="0.2" />
    
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="50"/>
    <param name="use_map_topic" value="false"/>  
    <!-- //当设置为true时，AMCL将会订阅map话题，而不是调用服务返回地图。也就是说，当设置为true时，有另外一个节点实时的发布map话题，也就是机器人在实时的进行地图构建，并供给amcl话题使用；当设置为false时，通过map server，也就是调用已经构建完成的地图。在navigation 1.4.2中新加入的参数。 -->
    <param name="first_map_only" value="true"/>  
    <!-- //当设置为true时，AMCL将仅仅使用订阅的第一个地图，而不是每次接收到新的时更新为一个新的地图，在navigation 1.4.2中新加入的参数。 -->
    <param name="min_particles" value="1000"/>
    <param name="max_particles" value="10000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.25"/>
    <param name="odom_alpha2" value="0.25"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.25"/>
    <param name="odom_alpha5" value="0.2"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <!-- <param name="laser_model_type" value="likelihood_field"/> -->
    <param name="laser_model_type" value="beam"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.12"/>
    <param name="update_min_a" value="0.25"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.05"/>
    <param name="recovery_alpha_fast" value="0.05"/>
    <!-- <param name="odom_frame_id" value="odom"/>   -->
    <!-- //里程计默认使用的坐标系 -->
    <!-- <param name="base_frame_id" value="base_link"/>   -->
    <!-- //用作机器人的基坐标系 -->
    <!-- <param name="global_frame_id" value="map"/>   -->
    <!-- //由定位系统发布的坐标系名称 -->
    <!-- <param name="tf_broadcast" value="false"/>   -->
    <!-- //设置为false阻止amcl发布全局坐标系和里程计坐标系之间的tf变换 -->
  </node>

  <!-- 启动move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/> 
    <param name="controller_patiente" value="15.0"/>
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find ucar_nav)/move_base/move_base_params.yaml" command="load" />
    
    <rosparam file="$(find ucar_nav)/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_nav)/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_nav)/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/move_base/global_costmap_params.yaml" command="load" />

    <!-- <rosparam file="$(find ucar_nav)/move_base/move_base_params.yaml" command="load" /> -->
    <rosparam file="$(find ucar_nav)/move_base/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/move_base/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/move_base/costmap_converter_params.yaml" command="load" />
    <!-- 下面的这两个文件时在地图中标注禁止小车走的区域  -->
    <!-- <rosparam file="$(find ucar_nav)/move_base/prohibition_areas.yaml" command="load" ns="global_costmap/costmap_prohibition_layer" />
    <rosparam file="$(find ucar_nav)/move_base/prohibition_areas.yaml" command="load" ns="local_costmap/costmap_prohibition_layer" /> -->
  </node>

</launch>



