<launch>
  <node pkg="ucar_camera" type="ucar_camera.py" name="ucar_camera" output="screen"/>
  <node pkg="traffic_light" type="traditional_light_cv_ros.py" name="traffic_light" output="screen"/>
  <node pkg="vision_line" type="find_way_ros" name="image_process" output="screen"/>
  <node pkg="vision_line" type="vision_line_node_fixed" name="vision_line_node" output="screen"/>
  <node pkg="startup_scripts" type="managed_nodes_client.py" name="managed_nodes" output="screen">
    <param name="traffic_light_enable_param" value="/start_traffic_light_det"/>
    <param name="find_signal_enable_param" value="/task1_all_done"/>
  </node>

</launch>